doctype html
html
    head
        meta(charset='UTF-8')
        title  Truth Or Dare : Something Different
        link(rel='stylesheet', href='css/admin.css')
        link(rel='stylesheet', href='css/master.css')
        link(rel='shortcut icon', type='image/jpg', href='images/favicon.ico')
        script(defer, rel='script', src='./build/js/admin.js')
    body
        .errorAlert(style='visibility: hidden')
            i.material-icons(style='font-size:30px;color: rgba(255, 0, 0, 0.75);') error_outline
            span.errorMessage
        header
            img.logo(src='../images/favicon.ico', alt='truth or dare')
        main
            .gamesDiv
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')