doctype html
html
    head
        link(rel='stylesheet', href='css/error.css')
        link(rel='stylesheet', href='css/master.css')
        script(defer).
            const onClick = () => window.location.href = "/";
    body
        .content
            img.notFound(src='../images/404.png', alt='404')
            h3 Why did you even come here when the fun is somewhere else?
            .gotoHome(onclick='onClick()')
                i.material-icons.glow(onclick='onClick()') home
                h4.glow(onclick='onClick()') Come to Home, Come to Mama !!!
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

