doctype html
html
    head
        meta(charset='UTF-8')
        title  Truth Or Dare : Something Different
        script(defer, rel='script', src='js/board.js')
        script(defer, rel='script', src='js/common/methods.js')
        script(defer, rel='script', src='/js/common/networkCalls.js')
    body
        button.exit X
        .errorAlert(style='visibility: hidden')
            i.material-icons(style='font-size:30px;color: rgba(255, 0, 0, 0.75);') error_outline
            span.errorMessage
        header
            img.logo(src='../images/td.png', alt='truth or dare')
        main
            .namesDiv
            button.roll(type='submit') Roll ↺
            .cards(style='visibility: hidden')
                .flip-card
                    .flip-card-inner.truthCard
                        .flip-card-front
                            img.cardLogo(src='../images/td.png', alt='Avatar', style='width:200px;height:200px;')
                            label.cardHeader Truth
                        .flip-card-back.truth
                            .topHeader
                                .topSymbol
                                    span.truth ?
                                .topHeaderTitle
                                    span.truth TRUTH
                            .truthQuestion
                            .bottomHeader
                                .bottomHeaderTitle
                                    span.truth HTURT
                                .bottomSymbol
                                    span.truth ?
                .flip-card
                    .flip-card-inner.dareCard
                        .flip-card-front
                            img.cardLogo(src='../images/td.png', alt='Avatar')
                            label.cardHeader Dare
                        .flip-card-back.dare
                            .topHeader
                                .topSymbol
                                    span.dare !
                                .topHeaderTitle
                                    span.dare DARE
                            .dareQuestion
                            .bottomHeader
                                .bottomHeaderTitle
                                    span.dare ERAD
                                .bottomSymbol
                                    span.dare !
        link(rel='stylesheet', href='css/board.css')
        link(rel='stylesheet', href='css/master.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='shortcut icon', type='image/jpg', href='images/favicon.ico')
