doctype html
head
    meta(charset='UTF-8')
    title  Truth Or Dare : Something Different
    link(rel='stylesheet' href='css/board.css')
    link(rel='shortcut icon' type='image/jpg' href='images/favicon.ico')
    script(rel='script' src='js/board.js')
header
    img.logo(src='../images/td.png' alt='truth or dare')
main
    input.participantName(type="text")