doctype html
head
    meta(charset='UTF-8')
    title Truth Or Dare : Something Different
    link(rel='stylesheet' href='CSS/index.css')
    link(rel='stylesheet' href='CSS/master.css')
    link(rel='shortcut icon' type='image/jpg' href='IMAGES/favicon.ico')
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    script(rel='script' src='JS/index.js')
header
    h1 Truth &amp; Dare
main
    .nameForm
        .errorAlert(style='visibility: hidden')
            i.material-icons(style='font-size:30px;color: rgba(255, 0, 0, 0.75);') error_outline
            span.errorMessage
        section.names(style='display: none')
            .buttonDiv
                button.add(type='button') +
                button.remove(type='button' disabled="true") -
        button.next(type='submit') Next &gt;